footer.main-footer
	.container
		.left
			a(href="/").footer-logo
				img(src="img/logo-dark.png", alt="")
			.copyright © 2017 Мебельный салон «Стиль»
			ul.addr
				li г. Краснодар, ул. Стасова, д. 182, ТРК "Галактика",
				li г. Краснодар, ул. Стасова, д. 178, ТРК "Медиаплаза"
		.right
			.col: .footer-menu
				span.name О нас
				ul.menu
					li: a(href="#") О компании
					li: a(href="#") Мебель для дома
					li: a(href="#") Мебель для офиса
					li: a(href="#") Спецпредложения
					li: a(href="#") Контакты
			.col: .footer-menu
				span.name Для дома
				ul.menu
					li: a(href="#") Мебель для кухни
					li: a(href="#") Мягкая мебель
					li: a(href="#") Мебель для спальни
					li: a(href="#") Мебель для гостиной
					li: a(href="#") Шкафы, шкафы-купе
					li: a(href="#") Обеденные группы
					li: a(href="#") Детская мебель
					li: a(href="#") Мебель для прихожей
					li: a(href="#") Компьютерные столы
					li: a(href="#") Кресла-качалки
			.col: .footer-menu
				span.name Для офиса
				ul.menu
					li: a(href="#") Для персонала
					li: a(href="#") Кресла, стулья