header.main-header.parallax-window(data-parallax="scroll" data-image-src="/img/header-bg.jpg")
	.container
		#headerSwiperPagination
		.header-top.clearfix
			.left
				a(href="/").logo
					img(src="img/logo.png", alt="Мебель стиль")
			.right
				.header-contacts.clearfix
					.fl-left
						span Салон стильной мебели в Краснодаре
					.fl-right
						i.icm.icon-placemark 
						span ул. Стасова, 178, ТРК «Медиаплаза» и дом 182, ТРК «Галактика»
				ul.header-menu
					li: a(href="#") Для дома
					li: a(href="#") Для офиса
					li: a(href="#") Акции
					li: a(href="#") Дизайн мебели
					li: a(href="#") О компании
					li: a(href="#") Контакты
		.header-center
			.dt
				.dtc
					.swiper-container#headerSlider
						ul.header-slider.swiper-wrapper
							li.swiper-slide
								.text
									.name <span>Огромная </span>скидка <br> на модульные кухни!
								.btns
									a(href="#").btn.btn--orange Спецпредложение
									a(href="#").btn.btn--transp 
										| В каталог 
										i.icm.icon-lartr
							li.swiper-slide
								.text
									.name <span>Огромная </span>скидка <br> на модульные кухни!
								.btns
									a(href="#").btn.btn--orange Спецпредложение
									a(href="#").btn.btn--transp 
										| В каталог 
										i.icm.icon-lartr
							li.swiper-slide
								.text
									.name <span>Огромная </span>скидка <br> на модульные кухни!
								.btns
									a(href="#").btn.btn--orange Спецпредложение
									a(href="#").btn.btn--transp 
										| В каталог 
										i.icm.icon-lartr
						
		.header-footer
			.header-callback
				a(href="#callbackForm").fancybox Перезвоните мне !
				a(href="tel:+79002355511").phone +7 (900) 235 55 11